body{
	color:#494949;
}

.main-content{
	text-align:center;
	border-bottom:1px solid #ccc;
}

.main-content img{
	padding:15px 0;
}

.main-content p{
	padding-bottom:15px;
}

.main-content input[type=text]{
	min-width:270px;
	border-radius:15px;
	height:35px;
	border:1px solid #ccc;
	padding-left:10px;
}

.main-content input[type=text]:focus{
	outline:none;
}

#list{
	padding:0;
	list-style-type: none;
}

#list li{
	padding-top: 20px;
	min-height:60px;
	border-bottom:1px solid #ccc;
}

#list li:nth-child(even){
	background-color:#eee;
}


/* views with nav bar on top */
.top-searchbar{
	width:200px;
	float:right;
	margin-top:10px;
	border-radius:15px;
	height:30px;
	border:1px solid #ccc;
	padding-left:10px;
}

input[type=text]:focus{
	outline:none;
}

.navbar {
	margin-bottom:0;
}

@media screen and (min-width: 768px) {

	header h1, header p {
		text-align: left;
	}

	#map {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: url('../img/map.jpg');	
	}		

	#main {
	}

}