/************************
Base / Mobile Styles here.
*************************/

.angular-google-map-container { height:120px; width:100%;}

body{
	color:#494949;
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", "sans";
}

header {
	background: white;
	position: relative;
	z-index: 10;
	border-bottom:1px solid #ccc;
	text-align: center;
}
	header h1 {
		font-size: 1.25em;
		line-height: .65em;
		font-weight: 900;
		text-transform: uppercase;
	}
	header form {
		padding: .5em 0;
	}
		header form input[type=text]{
			width: 100%;
			border-radius:15px;
			height:35px;
			border:1px solid #ccc;
			text-indent: 15px;
		}
		header input[type=text]:focus{
			outline:none;
		}

#main {}

#main.container {
	padding: 0 0 0 0;
}

#listView {}
	#listView ul {
		padding: 0;
		list-style-type: none;
	}
		#listView ul li{
			padding: 10px 0;
			min-height:60px;
			border-bottom:1px solid #ccc;
			background: white;
		}
			#listView ul li .restaurant-name {
				font-size: 1.25em;
				line-height: .85em;
				font-weight: 600;
				margin-bottom: 0;
			}
			#listView ul li .restaurant-score {
				font-size: 3em;
				line-height: .75em;
				font-weight: 600;
				color: #666;
				text-align: right;
			}
			#listView ul li .distance {
				color: #999999;
			}
			#listView ul li:nth-child(even){
				background-color:#eee;
			}


