/************************
Base / Mobile Styles here.
*************************/


body{
	color:#494949;
}

header {
	background: white;
	position: relative;
	z-index: 10;
}

.main-content{
	text-align:center;
	border-bottom:1px solid #ccc;
}

.main-content img{
	padding:15px 0;
}

.main-content p{
	padding-bottom:15px;
}

.main-content input[type=text]{
	min-width:270px;
	border-radius:15px;
	height:35px;
	border:1px solid #ccc;
	padding-left:10px;
}

.main-content input[type=text]:focus{
	outline:none;
}

#listView ul {
	margin-top: 1em;
	padding: 0;
	list-style-type: none;
	
}

#listView li{
	padding-top: 20px;
	min-height:60px;
	border-bottom:1px solid #ccc;
	background: white;
}

#listView li:nth-child(even){
	background-color:#eee;
}

#info {
	margin-top: 32px;
	background: white;
}
	#info ul {
		list-style-type: none;
		padding: 0;
	}

	.inspection {
		font-weight: bold;
	}

	.violation {
		margin-bottom: 1em;
	}

	.violation-code {
		font-weight: bold;
		display: block;
		border-bottom: 1px solid #dfdfdf;
	}
	.observations {
		list-style-type: disc !important;
	}
	.observations li {
		margin-left: 1.5em;
	}

/* views with nav bar on top */

.top-searchbar{
	width:200px;
	float:right;
	margin-top:10px;
	border-radius:15px;
	height:30px;
	border:1px solid #ccc;
	padding-left:10px;
}

input[type=text]:focus{
	outline:none;
}

.navbar {
	margin-bottom:0;
}

.restaurant-img{
	height:300px;
	background-color:#aaa;
}

.restaurant{
	padding: 20px 0;
}

.restaurant{
	border-bottom:1px solid #ccc;
}

.restaurant .name{
	font-size:20px;
}

.restaurant .rate{
	font-size:30px;
	text-align:right;
}

.restaurant table{
	width:100%;
}

.violations ul{
	padding:0;
}
.violations li{
	list-style:none;
	margin:0;
	padding: 10px 0;
	min-height:60px;
	border-bottom:1px solid #ccc;
}

.violations li:nth-child(even){
	background-color:#eee;
}

.violations .big{
	font-size:30px;
}

.angular-google-map-container { height:100% !important; width:100% !important; position:absolute !important; top:0; left:0; }

