/************************
Base / Mobile Styles here.
*************************/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

textarea, input { outline: none; }

.angular-google-map-container { height:100%; width:100%; position:absolute; top:0; left:0; }

body{
	color:#494949;
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", "sans";
}

	.modalContainer h5, .modal-title {
		font-family: "Source Sans Pro";
		text-transform: uppercase;
		font-weight: 700;
	}
	.modal-title {
		font-size: 1.25em;
		margin: 0;
	}
	.modal-subtitle {
		font-size: 1.125em;
		margin: 0;
	}
	.modalContainer .defWrapper {
		background: #efefef;
		margin: 0 0 1em 0;
	}
	.modalContainer dl {
		/*padding: .5em .25em;*/
		margin: .25em 0;
	}
		.modalContainer dt {
			font-size: 1.5em;
			line-height: 1.5em;
			display: inline;
			margin-right: .25em;
		}
		.modalContainer dd {
			line-height: 1.5em;
			display: inline;
		}
  .modal-footer button{
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    }
	.modal-footer form {
		text-align: left;
	}
		.modal-footer form input {
			margin-right: .5em;
		}

header {
	background: #2C3E50;
	position: relative;
	z-index: 10;
	border-bottom:1px solid #ccc;
	text-align: center;
	min-height: 60px;
}

	header #logoWrapper {
		text-align: left;
		line-height: 60px;
	}

center {
  padding:10px;
}
	header a {
		color: #ECF0F1;
		text-decoration: none;
		text-align: left;
	}
		header #logo {
			display: inline-block;
			text-align: left;
			margin: 0;
			margin-right: .25em;
		}
		header .minilogo {
			background: blue;
			text-align: left;
		}
			header .minilogo img {
				display: inline-block;
			}
		header a:hover, header a:focus {
			color: #ECF0F1;
			text-decoration: none;
		}
		header a h1 {
		margin: .5em 0;
		font-size: 1.1em;
		line-height: 2.75em;
		font-weight: 900;
		text-align: left;
		text-transform: uppercase;
		display: inline-block;
		text-align: left;
	}
	header #searchbar {
		background: #3A546D;
		border-left: 1px solid #43617E;
		height: 60px;
		text-align: right;
		position: relative;
	}
		header #searchbar .logo {
			display: inline-block;
			position: absolute;
			left: 6px;
			top: 6px;
			height: 48px;
			width: 48px;

		}
		header #searchbar .listIcon {
			color: white;
			font-size: 2em;
			margin: 0;
			line-height: 60px;
			cursor: pointer;
			padding: 0 .5em;
			/*padding: 15px 0;*/
			display: inline-block;
			/*line-height: 60px;*/
		}
			.listIcon:hover {
				background: #2C3E50;
				color: white !important;
			}

			#geolocateButton.listIcon:hover {
				box-shadow: inset 0 0 0 3px #3A546D;
			}
			.active-button {
				background: white ;
				color: #3A546D !important;
			}
		header #search .listIcon {
			margin: 0;
		}
		#geolocateButton {
			position: fixed;
			top: auto;
			left: auto;
			bottom: 1em;
			right: 1em;
			height: 2em;
			width: 2em;
			border-radius: 100%;
			text-align: center;
			line-height: 2em;
			font-size: 2em;
			color: white;
			z-index: 1;
			background: #3A546D;
		}
			#geolocateButton:hover {
				background: #2C3E50;
			}
			header .listIcon:last-of-type {
				margin-right: 0;
			}

			header .active-button.listIcon:hover {
				background: white;
				color: #3A546D !important;
			}

		header #search {
			position: absolute;
			z-index: 1131;
			display: block;
			text-align: right;
			background: #3A546D;
			height: 60px;
			padding: 14px 0;
			width: 100%;
		}
			#exitButton {
				padding: 0;
				margin: 0;
				color: white;
				font-size: 1.5em;
				line-height: 36px;
				position: relative;
				right: .5em;

			}
			#search input, #search button {
				height: 36px;
			}
			#search input {
				border: none;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			#search button {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}


#main {
	margin-top: 60px;
}
	#main ul {
		padding: 0;
		list-style-type: none;
	}

#main.container, #main.container-fluid {
	padding: 0 0 0 0;
}

#output {
	background: white;
}

#searchResults {
	background: white;
	z-index: 999;
}

	.resultsDescription {
		font-family: 'Bitter';
		margin: 0 -1em;
		line-height: 1em;
		padding: .5em 0;
		text-indent: 1em;
		background: #efefef;
	}

	#searchResults .alert {
		margin: 1em 0;
	}

#listView {}
	#listView ul {

	}
		ul li.list-container {
			padding: 10px 0;
			min-height:60px;
			border-bottom:1px solid #ccc;
			background: white;
			position: relative;
		}
			.city-container {
				padding: 0 10px 3px 10px;
				font-size: 1.25em;
				line-height: .95em;
				font-weight: 600;
				clear: both;
				position: absolute;
				height: 100%;
				width: 100%;
			}

			ul li a {
				color: #3498DB;
			}

			ul li a:hover {
				text-decoration: none;
			}

			.info {
				padding: 0 10px !important;
			}

			.category-icon {
				font-size: 2.25em;
				color: #ccc !important;
				text-align: center;
			}

			ul li .name {
				font-size: 1.25em;
				line-height: .95em;
				font-weight: 600;
				margin: 0 0 3px 0;
				clear: both;
			}
			.score {
				font-size: 2em;
				line-height: .75em;
				font-weight: 400;
				color: #666;
				text-align: center;
			}
			#listView .address {
				display: inline-block;
				color: #999999 !important;
			}
			#listView .distance {
				display: inline-block;
				color: #999999 !important;
				margin: 0;
				float: right;
			}

a.close {
	position: fixed;
	top: 20%;
	right: .75em;
	font-size: 2em;
	height: 1em;
	width: 1em;
	border-radius: 100%;
	color: #f18775;
	background: white;
	z-index: 9;
	opacity: 1;
}

#restaurantDetailView {
	height: 80%;
	width: 100%;
	/*padding-top: 2em;*/
	position: fixed;
	bottom: 8px;
	overflow-y: scroll;
	z-index: 2;
}

	#restuarant-info {
		font-family: "Bitter";
		background-color: rgba(255,255,255,.85);
		position: relative;
	}

		#restaurant-info a {
			display: inline-block;
		}

		#restuarant-info .score {
			font-size: 2em;
			vertical-align: top;
			margin-top: 1em;
			/*margin: .25em .25em 0 0;*/
			/*background: white;*/
			/*padding: .25em;*/
			/*border: 1px solid #efefef;*/
			/*padding: .25em 0;*/
		}

			#restuarant-info .score span {
				display: block;
				font-size: .4em;
				line-height: 1.25em;
				padding: 0 .5em;
				font-weight: 300;
				margin-top: .25em;
			}

		#restaurantInfo {
			position: relative;
			vertical-align: top;
			margin-bottom: .75em;
		}

			#restaurantInfo ul {
				/*display: inline-block;*/
			}

			#restaurantInfo a {
				/*margin-top: 20px;*/
				position: relative;
	/*			top: 3px;
				margin-left: 9px;*/
			}

		#restaurantInfo h1 {
			margin-bottom: 0;
			font-size: 1.75em;
		}

		#restaurantInfo .address {
			color: #666666;
		}

	#violationKey {
		background: white;

	}

	#violationKey h4 {
		font-weight: 500;
	}

	#violationKey ul li {
		font-size: 1em;
		display: block;
	}
		#violationKey i {
			margin-right: .5em;
			font-size: .85em;
		}

	#noResults {
		padding: 2em 0;
	}
		#noResults span {
			text-align: center;
			display: block;
		}
		#noResults i {
			text-align: center;
			margin-bottom: .5em;
			font-size: 3em;
			color: #aaaaaa;
		}
		#noResults .report {

		}

	#inspections {}

		#inspections .inspection {
			padding: .5em;
			margin-bottom: 1em;
			border: 1px solid #dfdfdf;
			padding: 1em;
			background: white;
		}

			.inspection h2 {
				margin: 0;
			}

			.inspection .date {
				/*font-size: 1.25em;*/
				color: #777;
				display: inline-block;
				vertical-align: top;
				text-align: right;
			}

			.inspection .score {
				text-align: left;
				font-size: 2em;
				padding: .25em 0;
				display: inline-block;
				vertical-align: top;
				font-weight: 500;
			}
				.inspection .score span {
					margin-top: .25em;
					display: block;
					line-height: 1em;
					font-size: .5em;
					color: #ccc;
				}

			.inspection h2 {
	      font-family: "Bitter";
        font-size: 1.5em;
      }

	    .inspection h3 {
	        margin-top: 2px;
	        font-size: 1em;
	        color: gray;
	        font-family: "Bitter";
	        border-bottom: 1px dotted #efefef;
	        padding-bottom: .25em;
	    }

	    .inspection h4 {
	        color: #3c9542;
	    }

			ul.violations {
				margin-bottom: 1em;
				display: inline-block;
				vertical-align: top;
			}
				li.violation,
			    li.critical,
				li.repeat {
					display: inline-block;
					margin: .5em 0em;
					margin-right: .25em;
					color: #ffffff;
				}

					li.violation i,
					li.critical i,
					li.repeat i {
						height: 2em;
						width: 2em;
						line-height: 2em;
						text-align: center;
						font-size: 1.5em;
						border-radius: 100%;
						background: #efefef;
					}

					li.violation.active i {
						color: #B28C04;
						background:  #FAAA0C;
					}
	
					li.critical.active i {
						color:  #cf2f36;
						background: #f18775;
					}
					li.repeat.active i {
						color:  #cf2f36;
						background: #f18775;
					}

					li.code {
						font-size: 1.25em;
						font-weight: 700;
					}

					li.observation {
						width: 90%;
					}

					.violation.active span,
					.critical.active span,
					.repeat.active span {
						color: black;
					}
/***********************************
Tablet and Small Screen Styles here.
***********************************/

@media screen and (min-width: 776px) {

    .modalContainer {
        top: 70px;
    }

    header {
        text-align: left;   
    }
    	header h1 {
    		font-size: 2em;
            line-height: 60px;
            margin: 0;
    	}
        header img {
            margin-top: 1em;
        }
        form {
            
        }
    
    #main.container {
        padding-top: 2em;
    } 

    .angular-google-map-container { height:100%; width:100%; position:absolute; top:0; left:0; }

    .results {
        position: fixed;
        top: 60px;
        right: 0;
        max-height: 500px;
        z-index: 1029;
        overflow-y: scroll;
    } 
        #searchResults .row {
            margin-bottom: 0;
        }

        #listView ul {}

	#restuarantDetailView {
        position: relative;
    }

        #restaurantDetailView .angular-google-map-container {
            height: 250px;
        }

        #restaurantDetailView #inspections {}

        #restaurantDetailView #violationKey ul li {
 
        }

        #restaurantDetailView #violationKey ul li i {
    
        }

        #restaurantDetailView ul.violations {
 
        }

    #inspections {

    }

        #noResults {
            padding: 2em 0;
        }
            #noResults span {
                display: inline-block;
            }
            #noResults i {
                vertical-align: top;
                font-size: 2em;
                margin-right: .5em;
                color: #aaaaaa;
            }
            #noResults .report {
                display: inline-block;
                vertical-align: top;
            }
        

        #inspections .inspection .date {
            text-align: left;
            padding: .25em 0;
        }



}
/********************************
Normal sized desktop styles here.
********************************/

@media screen and (min-width: 992px) {

}
/************************
Big desktop styles here
*************************/

@media screen and (min-width: 1200px) {

}