<section id="listView">

	<google-map center="map.center" zoom="map.zoom" draggable="true" class="col-sm-9"></google-map>

	<ul class="list col-sm-3 row">
	    <li ng-repeat="restaurant in restaurants" class="row">
	        <a href="#/restaurants/{{restaurant.safeName}}">
	          <div class="col-xs-10">{{restaurant.name}}</div>
	          <div class="col-xs-2">{{restaurant.score}}</div>
	        </a>
	        <p>{{distanceCalculation(restaurant.center) | number:2}} Miles Away</p>
	    </li>
	</ul>
	
</section>