<section id="listView">

	<google-map center="map.center" zoom="map.zoom" draggable="true" options="{'disableDefaultUI':'true'}">
		<marker ng-repeat="restaurant in restaurants" coords="restaurant.coordinates">
			<window show="markerShow" closeClick="true">
				<h3>{{restaurant.name}}</h3>
				<h4>{{restaurant.score}}</h4>
				<p><a href="#{{restaurant.url}}">Learn More</a></p>
			</window>
		</marker>
	</google-map>

	<section id="results">

		<ul class="col-sm-3 col-sm-offset-9">
			<li ng-repeat="restaurant in restaurants | orderBy:dist" class="clearfix">
			  <a href="#{{restaurant.url}}">
				  <div class="col-xs-9">
					<p class="restaurant-name">{{restaurant.name}}</p>
					<p bind-once class="distance">{{distanceCalculation(restaurant.coordinates) | number:2}} Miles Away</p>		          
				  </div>
				  <div class="col-xs-3 restaurant-score">{{restaurant.score}}</div> 
			  </a>
			</li>
		</ul>

	</section>
	
</section>