<section id="listView">

	<google-map center="map.center" zoom="map.zoom" draggable="	true">
		<marker ng-repeat="restaurant in restaurants" coords="restaurant.center">
			<window show="markerShow" closeClick="true">
                <h3>{{restaurant.name}}</h3>
                <h4>{{restaurant.score}}</h4>
                <p><a href="#/restaurants/{{restaurant.safeName}}">Learn More</a></p>
            </window>
		</marker>
	</google-map>

	<ul class="list col-sm-3 col-sm-offset-9">
	    <li ng-repeat="restaurant in restaurants">
	        <a href="#/restaurants/{{restaurant.safeName}}">
	          <div class="col-xs-10">{{restaurant.name}}</div>
	          <div class="col-xs-2">{{restaurant.score}}</div>
	        </a>
	        <p class="col-xs-12">{{distanceCalculation(restaurant.center) | number:2}} Miles Away</p>
	    </li>
	</ul>
	
</section>