<div class="modal-header">
    <h2 class="modal-title">Open Health Inspection</h2>
    <h3 class="modal-subtitle">Learn More About Where You Eat</h3>
</div>

<div class="modal-body">
    <h1>Want to help us make OHI better?</h1>
    <h2>Come see us at CodeAcross 2015!</h2>
    <section class="body">
        <p>Code for Hampton Roads is gearing up for our next big event which will be held at Slover Library in Norfolk this February 21st.</p>

        <p>The developers of Open Health Inspection will be there and would love to hear your feedback!</p>
    </section>
</div>

<div class="modal-footer">
    <div class="row">
        <a class="btn btn-primary" href="http://code4hr.eventbrite.com/?aff=busapp">Register</a>
        <button class="btn btn-default" ng-click="cancel()">No Thanks</button>
    </div>
</div>
