<div class="modal-header">
    <h2 class="modal-title">Open Health Inspection</h2>
    <h3 class="modal-subtitle">Learn More About Where You Eat</h3>
</div>

<div class="modal-body">
      <p>This app makes it easy to get public health reports for Virginia restaurants near you.  To check the report for a specific restaurant, click its name in the list or use the search tool.</p>

      <p>This app was developed by volunteers working through <a href="http://code4hr.org">Code for Hampton Roads.</a> <br>
        Please send any feedback or bug reports to <a href="mailto:openhealthinspection@gmail.com">openhealthinspection@gmail.com</a></p>
      <p/>

      <p>Source code for this application can be found on <a href="https://github.com/c4hrva/open-health-inspection-app">
              <i class="fa fa-github"></i> Github</dd>
            </a>
      </p>
</div>
<div class="modal-footer">
    <div class="row">
        <button class="btn btn-info" ng-click="cancel()">OK</button>
    </div>
</div>
