<div class="modal-header">
    <h2 class="modal-title">Open Health Inspection</h2>
    <h3 class="modal-subtitle">Learn More About Where You Eat</h3>
</div>
<div class="modal-body">

    <p>This app makes it easy to get public health reports for Virginia restaurants near you.  To check the report for a specific restaurant, click its pin on the map or its name in the list.</p>
    
    <h5>How to Use this App</h5>
    <div class="row">
        <dl class="col-sm-4">
            <dt><span class="glyphicon glyphicon-search"></span></dt>
            <dd>Search for a restaurant by name</dd>
        </dl>
        <dl class="col-sm-4">
            <dt><span class="glyphicon glyphicon-th-list"></span></dt>
            <dd>Browse a list of restaurants near you</dd>
        </dl>
        <dl class="col-sm-4">
            <dt><span class="glyphicon glyphicon-map-marker"></span></dt>
            <dd>Perform a new search from the map center</dd>
        </dl>
    </div>  

    <p>This app was developed by volunteers working through <a href="http://c4hrva.us">Code for Hampton Roads.</a> Please send any feedback or bug reports to <a href="mailto:openhealthinspection@gmail.com">openhealthinspection@gmail.com</a></p>
    <p>
</div>
<div class="modal-footer">
    <div class="row">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</div>