<article id="restaurantDetailView">

	<section id="restuarant-info" class="col-sm-3">

		<google-map center="map.center" zoom="18" options="{'disableDefaultUI':'true'}" draggable="false">
			<marker coords="map.center"></marker>
		</google-map>

		<ul ng-repeat="restaurant in restaurants">
			<li class="name">{{restaurant.name}}</li>
			<li class="address">{{restaurant.address}}</li>
			<li class="inspection-date">{{restaurant.last_inspection_date}}</li>
		</ul>

	</section>

	<section id="inspections" class="col-sm-9" ng-repeat="restaurant in restaurants">

		<ul class="inspection" ng-repeat="inspection in restaurant.inspections">
			<li class="date">{{inspection.date}}</li>
			<li class="type">{{inspection.type}}</li>
			<ul class="violations" ng-repeat="violation in inspection.violations">
				<li class="code">{{violation.code}}</li>
				<li class="observation">{{violation.observation}}</li>
				<li class="correction">{{violation.correction}}</li>
				<li class="violation">{{violation.corrected}}</li>
				<li class="critcal">{{violation.critical}}</li>
				<li class="repeat">{{violation.repeat}}</li>
			</ul>
		</ul>

	</section>

	

</article>
