<article id="restaurantDetailView">

	<div class="container-fluid">

		<section id="restuarant-info" class="col-xs-12" ng-repeat="restaurant in results">

			<ul id="restaurantInfo" class="">
				<li class="name"><h1>{{restaurant.name}}</h1></li>
				<li class="address">{{restaurant.address}}</li>
			</ul>

			<a href="#" class="close"><span class="glyphicon glyphicon-remove-circle"></span></a>
		
		<!-- 	<section id="violationKey">
				<h4>Symbol Key</h4>
				<ul>
					<li><i class="glyphicon glyphicon-ok"></i>Violation Corrected During Inspection</li>
					<li><i class="glyphicon glyphicon-warning-sign"></i>Critical Violation</li>
					<li><i class="glyphicon glyphicon-repeat"></i>Repeat Violation</li>
				</ul>
			</section> -->

		</section>

		<section id="inspections" class="col-xs-12" ng-repeat="restaurant in results">	
		
			<ul class="inspection row"  ng-repeat="inspection in restaurant.inspections">
				<li class="row">
					
					<div class="col-sm-1">
						<p>{{inspection.date}}</p>
					</div>

					<div class="col-sm-11">
						<h2>{{inspection.type}}</h2>
						<h3>Observations</h3>
						<h4 class="no-violations" ng-if="inspection.violations.length === 0">No violations! :)</h4>
					
						<div ng-repeat="violation in inspection.violations">
							
							<div ng-if="$index % 4 === 0" class="visible-md clearfix"></div>
							<div ng-if="$index % 3 === 0" class="visible-sm clearfix"></div>

							
							<ul class="violations col-sm-6 col-md-3" >
								<li title="This violation {{violation.corrected | was}} corrected during the inspection." ng-class="{'active': violation.corrected}" class="violation"><i class="glyphicon glyphicon-ok"></i></li>
								<li title="This {{violation.critical | was}} a critical violation." ng-class="{'active': violation.critical}" class="critical"><i class="glyphicon glyphicon-warning-sign"></i></li>
								<li title="This {{violation.repeat | was}} a repeat violation." ng-class="{'active': violation.repeat}" class="repeat"><i class="glyphicon glyphicon-repeat"></i></li>
								<li class="code">{{violation.code}}</li>
								<li class="observation">{{violation.observation}}</li>
							</ul>

						</div>
					</div>
					
					<li ng-if="restaurant.inspections.length === 0">No violations!</li>


				</li>
			</ul>
			
		</section>

	</div>

</article>
