<article id="searchResultsPreviewWindow">
	<div class="container-fluid">
		
		<ul class="row">
			<li ng-repeat="restaurant in restaurants">
				<div ng-if="$index % 2 === 0" class="col-xs-12 visible-sm clearfix"></div>
				<div ng-if="$index % 3 === 0" class="col-xs-12 visible-md visible-lg clearfix"></div>
				<div class="col-sm-6 col-md-4">
					<div class="card clearfix {{restaurant.score | scoreBorder}}">
						<div class="title clearfix">
							<div class="col-xs-8">
								<h2 class="name">
									<a ng-href="#{{restaurant.url}}">{{restaurant.name}}</a>
								</h2>
								<p class="address">{{restaurant.address}}</p>
							</div>
							<div class="col-xs-4">
								<h3 class="score {{restaurant.score | scoreColor}}">{{restaurant.score}}</h3>
							</div>
						</div>
						<div ng-if="$index < reviewCount" class="col-xs-12 clearfix inspections">
							<h3 class="observations">Latest Observations ({{restaurant.inspections[0].date}})</h3>
							<ul>
								<li ng-repeat="inspection in restaurant.inspections | limitTo:inspectionsCount">
									<ul class="violations">
										<li ng-if="inspection.violations.length === 0" class="no-violations">No Violations :)</li>
										<li ng-repeat="violation in inspection.violations" class="">
											<ul>
												<li class="code">{{violation.code}}</li>
												<li>{{violation.observation}}</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<a class="clearfix col-xs-12 readMore" ng-href="#{{restaurant.url}}">
							Read this vendor's report <i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>

			</li>
		</ul>
	</div>
</article>