<!DOCTYPE html>
<html lang="en" ng-app="openHealthDataApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META NAME="description" CONTENT="Easily get public health inspection data for eateries near you.">
    <meta name="keywords" content="inspection, health inspection, dining, restaurant, cafeteria, open data, open government data, Code for America, Code for America Brigade, cfabrigade, mobile, HTML5, app, open source, Code for Hampton Roads, volunteers, volunteering, civic, civic engagement, public service">
    <meta property="og:image" content="img/build/preview.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="Open Health Inspection">
    <meta name="twitter:description" content="Easily get public health inspection data for eateries near you.">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image:src" content="http://openhealthinspection.com/img/build/preview.jpg">
    <meta name="twitter:domain" content="http://openhealthinspection.com/">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/build/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/build/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/build/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="img/build/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/build/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="img/build/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="img/build/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="img/build/apple-touch-icon-152x152.png" />

    <title>Open Health Inspection App</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/production.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic,400italic,700,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <header class="navbar-fixed-top">
      <div class="container-fluid">

        <div class="row">

          <div id="logoWrapper" class="hidden-xs col-sm-7 col-md-8">
            <a href="#/" class="clearfix">
              <img id="logo" src="img/build/logo.png" height="48px" width="48px" alt="Open Health Inspection Logo">
              <h1 class="hidden-xs">Open Health Inspection</h1>
            </a>
          </div>

          <div id="searchbar" class="col-xs-12 col-sm-5 col-md-4 clearfix" ng-controller="searchCtrl">

            <section id="search" ng-show="isSearchbarVisible" class="navbar-fixed-top col-xs-12 col-sm-5 col-md-4">
              <form ng-submit="nameSearch()" class=" clearfix" novalidate>
                <span id="exitButton" ng-click="toggleSearchField()" class="col-xs-1 glyphicon glyphicon-chevron-left"></span>
                <input id="searchField" class="col-xs-9" type="search" ng-model="query" placeholder="Search for a restaurant" focus-me="isSearchbarVisible"/>
                <button class="btn btn-info col-xs-2">
                  <span id="searchButton" class="glyphicon glyphicon-search"/>
                </button>
              </form>
              <section class="clearfix row" id="searchTray">
                <ul class="">
                  <li class="col-xs-7 searchDescription">
                  <small>Search in:</small>{{searchAreaText}}</li>
                  <li class="col-xs-5 moreButton">
                    <a ng-click="toggleCityJump()">
                      More Cities <i class="fa fa-plus-circle"></i>
                    </a>
                  </li>
                </ul>
              </section>
            </section>

            <a href="#/" class="visible-xs" class="clearfix">
              <img class="logo" src="img/build/logo.png" height="36px" width="36px" alt="logo">
            </a>
            <a ng-click="toggleSearchField()"  class="listIcon clearfix">
              <span id="searchButton" class="glyphicon glyphicon-search"></span>
            </a>
            <a ng-click="toggleList()" ng-class="{'active-button': isVisible}" class="listIcon">
              <span id="listButton"  class="glyphicon glyphicon-th-list" class="col-xs-1"></span>
            </a>
          </div>

        </div>
      </div>
    </header>

    <div id="main" class="container-fluid ng-cloak">

      <div class="bglogo hidden-md hidden-lg">
        <img src="img/build/logo-gray.png" height="70" width="70" alt="logo">
        <h1>Open<br>Health<br>Inspection</h1>
      </div>

      <section ng-controller="mapCtrl"></section>

      <section class="col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8 results" id="searchResults" class="clearfix" ng-controller="searchResultsCtrl">
    
        <section id="searchResultsDetail" ng-show="isVisible">
          <section id="noSearchResults" ng-show="{{results.length === 0}}">
            <p>No results!</p>
          </section>
          <ul class="row">
            <li ng-repeat="restaurant in results" class="list-container clearfix">
            <a href="#{{restaurant.url}}">
              <i class="{{restaurant.category | categoryIcon }} col-xs-2 category-icon"></i>
              <ul class="col-xs-7 info">
                <li class="name">{{restaurant.name}}</li>
                <li class="address">{{restaurant.address}}</li>
              </ul>
              <p class="score col-xs-3 {{restaurant.score | scoreColor}}">{{restaurant.score}}</p>
            </a>
            </li>
          </ul>
        </section>
      </section>

      <section class="col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8 results clearfix" id="cityJump" ng-controller="cityJumpCtrl">
        <section ng-show="isCityJumpVisible">
          <ul class="row" >
            <li class="list-container clearfix" ng-repeat="city in cities">
              <a class="city-container" ng-click="cityJump(city)">{{city.name}}</a>
            </li>
          </ul>
        </section>
      </section>

      <div ng-view></div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="dist/production.js"></script>
    <script src="js/libs/angular-google-maps.min.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/libs/angular-local-storage.js"></script>
    <script src="analytics.js"></script>
    <script src="http://platform.twitter.com/widgets.js"></script>
</html>
