/* _colors.scss */
$black: #1a1a1a;
$white: #ffffff;
$off-white: #efefef;
$beige: #f3ece3;

$dark-gray: #494949;
$gray: #666666;
$light-gray: #aaa;
$lighter-gray: #cccccc;

$green: #157F00;
$yellow-green: #A8C433;
$yellow: #B28C04;
$red: #f18775;
$blue: #2C3E50;
