/* _colors.scss */
<<<<<<< HEAD

$black: #1a1a1a;
$white: #ffffff;
$off-white: #ECF0F1;
=======
$black: #1a1a1a;
$white: #ffffff;
$off-white: #efefef;
>>>>>>> modularize-styles
$beige: #f3ece3;

$dark-gray: #494949;
$gray: #666666;
$light-gray: #aaa;
$lighter-gray: #cccccc;
<<<<<<< HEAD
$lightest-gray: #efefef;
=======
>>>>>>> modularize-styles

$green: #157F00;
$yellow-green: #A8C433;
$yellow: #B28C04;
$red: #f18775;
$blue: #2C3E50;
<<<<<<< HEAD
$light-blue: #3A546D;
=======
>>>>>>> modularize-styles
