.grayText {
	color: #cccccc;
}

.grayBadge {
	background: #cccccc;
}

.greenText {
	color: #157F00;
}

.greenBadge {
	background: #157F00;
	border-bottom: 2px solid #333;
}

.yellowGreenText {
	color: #A8C433;
}

.yellowGreenBadge {
	background: #A8C433;
	border-bottom: 2px solid #333;
}

.yellowText {
	color: #B28C04;
}

.yellowBadge {
	background: #B28C04;
	border-bottom: 2px solid #333;
}

.redText {
	color: #f18775;
}

.redBadge {
	background: #f18775;
}

.medal {
	color: white !important;
	padding: .25em 0;
}
